image: java:8

variables:
  DB_HOST: mongo



stages:
  - build



#before_script:
#  - sleep 15
#  - mongo dictionary --eval 'db.createUser({user:"travis",pwd:"test",roles:["readWrite"]});'


build:
  stage: build
  script:
    - sleep 15
   # - mongod --version
   # - mongo dictionary --eval 'db.createUser({user:"travis",pwd:"test",roles:["readWrite"]});'
    - DATABASE_URL=mongodb://mongo:27017/dictionary
    #- mongoimport --host $DB_HOST --db reach-engine --collection Dictionary --type json --file ./mongo-seed/init.json --jsonArray 
    - ./gradlew build
  services:
    - mongo:latest
  artifacts:
    paths:
      - build/libs/Dictionary-0.0.1-SNAPSHOT.jar